@{
    ViewData["Title"] = "Home Page";
}

<div class="">
    <h1>Segundo parcial PWA. Francisco Turró</h1>
    <h4>
        Enunciado: Una universidad necesita un sistema que pueda llevar control de los alumnos y materias.
        <br/>
        Por cada materia se le asigna un código (Por ej: PWA2013) y un número finito de cupo asignado. Además, en cada asignatura se registrar sede, fecha de inicio, turno, y el importe por cursar la misma.
        <br />
        Para los alumnos se registra Dni, Nombre, Apellido, Email, Domicilio, fecha de nacimiento, y una foto del mismo.
        <br />
        Reglas del Negocio
        Para anotarse a la materia debe realizarse con un plazo de 24 horas antes del inicio de la cursada.
        Si el alumno tiene medida beca se aplica un descuento del 50% sobre la materia, pero si posee una beca completa el descuento es de un 90%.
        El alumno solo se puede anotarse si tiene cupo la materia.
        El alumno no puede anotarse dos veces a la misma materia.
        <br />
        Se requiere un sistema desarrollado en C# y orientada a objetos que permita:
        Utilizar MVC netcore 6 o 7.
        Entity Framework netcore.
        ABM Materia.
        ABM Alumno.
        Registrar el alumno y las materias que desea cursar.
        Control de carga de datos.
        Listar todos los alumnos de cada materia creada.
        Informar el importe total de cada materia
    </h4>
</div>
